.intro {
  box-sizing: border-box;
  margin-bottom: 200px;
  padding: 185px 0 296px 0;
  background-image: url("../img/intro.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #6386aa;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/intro@2x.jpg");
    background-size: cover;
  }
}

.intro__wrapper {
  box-sizing: border-box;
  padding: 0 100px 0 700px;
}

.intro__title {
  margin: 0;
  margin-bottom: 30px;
  @include font-semi-bold;
  @include font(55px, 80px, $color-white);
  letter-spacing: -1.1px;
}

.intro__description {
  margin: 0;
  margin-bottom: 35px;
  @include font-regular;
  @include font(16px, 1.7, $color-white);
  letter-spacing: -0.5px;
}

.intro__link {
  display: block;
  box-sizing: border-box;
  width: 340px;
  padding: 30px 40px;
  @include font-regular;
  @include font(12px, 15px, $color-white);
  background-color: $color-accent;
  background-image: url("../img/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: right 40px center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;

  &:hover,
  &:focus {
    background-color: $color-accent-hover;
    outline: none;       ;
  }
}

@media(max-width: $width-desktop) {
  .intro {
    margin-bottom: 80px;
    padding: 60px 0 83px 0;
  }

  .intro__wrapper {
    width: 400px;
    margin: 0 auto;
    padding: 0;
  }

  .intro__title {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: normal;
    white-space: nowrap;
  }

  .intro__description {
    margin-bottom: 10px;
    text-align: center;
  }

  .intro__link {
    margin: 0 auto;
    padding: 19px 40px;
    width: 250px;
    @include font(10px, 12px, $color-white);
    background-size: 14px;
  }
}

@media(max-width: $width-tablet) {
  .intro {
    background-image: none;
    margin-bottom: 110px;
    padding: 0;
    background-color: $color-white;
  }

  .intro__wrapper {
    padding: 0;
    width: 100%;
  }

  .intro__title {
    margin-bottom: 20px;
    padding: 80px 10px 83px 10px;
    background-image: url("../img/intro-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 24px;
    white-space: normal;
    background-color: #6386aa;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/intro-mobile@2x.jpg");
      background-size: 640px auto;
    }
  }

  .intro__description {
    margin-bottom: 20px;
    padding: 0 16px 0 16px;
    color: $color-dark;
  }

  .intro__link {
    width: 288px;
  }
}
