.intro {
  box-sizing: border-box;
  margin-bottom: 200px;
  padding: 185px 0 296px 0;
  background-image: url("../img/intro.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/intro@2x.jpg");
    background-size: 3840px auto;
  }
}

.intro__wrapper {
  box-sizing: border-box;
  padding: 0 126px 0 694px;
}

.intro__description {
  margin: 0;
  margin-bottom: 40px;
  @include font-regular;
  @include font(16px, 1.7, $color-white);
}

.intro__link {
  display: block;
  box-sizing: border-box;
  width: 340px;
  padding: 30px 40px;
  @include font-regular;
  @include font(12px, 15px, $color-white);
  background-color: $color-accent;
  background-image: url("../img/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: right 40px center;
  text-transform: uppercase;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: $color-accent-hover;
    outline: none;       ;
  }
}

@media(max-width: $width-desktop) {
    .intro {
      margin-bottom: 108px;
      padding: 60px 0 83px 0;
    }

    .intro__wrapper {
      width: 400px;
      margin: 0 auto;
      padding: 0;
    }

    .intro__description {
      margin-bottom: 15px;
      text-align: center;
    }

    .intro__link {
      margin: 0 auto;
      padding: 19px 40px;
      width: 250px;
      @include font(10px, 12px, $color-white);
      background-size: 14px;
    }
}

@media(max-width: $width-tablet) {
  .intro {
    background-image: none;
    margin-bottom: 80px;
    padding: 0;
  }

  .intro__wrapper {
    padding: 0;
    width: 100%;
  }

  .intro__title {
    margin-bottom: 20px;
    padding: 81px 10px 82px 10px;
    background-image: url("../img/intro-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/intro-mobile@2x.jpg");
      background-size: 640px auto;
    }
  }

  .intro__description {
    margin-bottom: 20px;
    padding: 0 16px 0 16px;
    color: $color-dark;
  }

  .intro__link {
    width: 288px;
  }
}
