$color-grey-dark: #444444;
$color-grey-light: #ececec;
$color-aqua: #63d1bb;
$color-aqua-dark: #55c3b2;

$color-black: #000000;
$color-white: #ffffff;
$color-darkest: #141517;
$color-dark: #2c2e3f;
$color-accent: #fe7865;
$color-accent-hover: #f17d4b;

$width-mobile: 320px;
$width-tablet: 767px;
$width-desktop: 1199px;
$width-mobile-only: 768px;
